    {% include '@vani/template-parts/header.html.twig' %}
    <div id="unique-main-wrapper" style="background: white;">
        <div class="unique-container">

            <div class="unique-title-section">
                <h1 class="unique-main-title">Our Team</h1>
            </div>

            <!-- Principal Investigator Section -->

            <div class="unique-pi-row">
                <div class="unique-pi-col">
                    <div class="unique-pi">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Principal Investigator Name">
                        </div>
                        <h2 class="unique-pi-name">Principal Investigator Name</h2>
                        <p class="unique-pi-title">Head of Research</p>
                        <p class="unique-pi-bio">Brief bio of the Principal Investigator, highlighting key achievements and research focus.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=PI" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/PI" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Members Section -->
            <div class="unique-section-title">
                <h2 class="unique-section-heading">Team Members</h2>
            </div>
            <div class="unique-row">
                <!-- Team Member 1 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Kristiana</h3>
                        <span class="unique-post">Master's Student - Web Designer</span>
                        <p class="unique-research">Focusing on User Experience and Interactive Design</p>
                        <p class="unique-bio">Dedicated to creating intuitive interfaces that improve user engagement and experience.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Kristiana" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/kristiana" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://kristiana.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Additional members can be added similarly -->

                <!-- Team Member 3 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 4 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 5 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 6 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 7 -->
                <div class="unique-col">
                    <div class="unique-team-member">
                        <div class="unique-pic">
                            <img src="{{ directory }}/images/profile/cs.jpg" alt="Williamson">
                        </div>
                        <h3 class="unique-title">Williamson</h3>
                        <span class="unique-post">PhD Student - Web Developer</span>
                        <p class="unique-research">Research in Artificial Intelligence and Machine Learning</p>
                        <p class="unique-bio">Exploring new paradigms in neural networks and their applications in real-world scenarios.</p>
                        <div class="unique-links">
                            <a href="https://scholar.google.com/citations?user=Williamson" class="unique-icon unique-scholar"><i class="fab fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/williamson" class="unique-icon unique-linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://williamson.com" class="unique-icon unique-website"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% include '@vani/template-parts/footer.html.twig' %}
